<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vipin.assessortesta">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".Photos.Photo_navigation"
            android:label="Annexure(M)"
            android:theme="@style/AppTheme5"
            >
            </activity>
        <activity
            android:name=".Batch_Student.Students_list"
            android:label="List of Students"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".Batch_Student.Batch_detail"
            android:label="Batch Detail"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".Photos.Booklet_pic"
            android:label="Annexure(M)"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".Photos.Pmkvy_lab"
            android:label="Annexure(M)"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".Photos.Labpics"
            android:label="Annexure(M)"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".Photos.Pmkvysignane"
            android:label="Annexure(M)"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".Photos.Pmkvy_classroom"
            android:label="Annexure(M)"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".Photos.Pmkvycounselling"
            android:label="Annexure(M)"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".Photos.Enrolmentform_Pic"
            android:label="Annexure(M)"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".Photos.Attendancepic"
            android:label="Annexure(M)"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".Photos.Feedbackformpic"
            android:label="Annexure(M)"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".Photos.Infrapic"
            android:label="Annexure(M)"
            android:theme="@style/AppTheme5" />
        <activity android:name=".Initials.Annexure" />
        <activity
            android:name=".Initials.AssessorTask"
            android:theme="@style/AppTheme4" />
        <activity android:name=".Initials.ForgotPassword" />
        <activity android:name=".Initials.SignIn" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Attendance.Assessor_Atten"
            android:label="@string/assessorattendance"
            android:theme="@style/AppTheme5" />
        <activity
            android:name=".Initials.SplashScreen"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>